{# 不转义变量输出
    {*cjson.encode(formvalue) *}
    {* string.gsub(cjson.encode(formvalue[formvalue.params.query].results[1].data[1].row),"pcgroup","children") *}

#}




    {% if #(formvalue[formvalue.params.query].errors)~=0 then %}
        {*cjson.encode(formvalue[formvalue.params.query].errors) *},
    {% end %}


    {% if #(formvalue[formvalue.params.query].results[1].data)~=0 then
        require "arraytotree"
        local data=formvalue[formvalue.params.query].results[1].data[1].row[1]
    %}

        {* cjson.encode(arraytotree(data,'group_id','pid','children'))*}

    {% end %}

    {% if #(formvalue[formvalue.params.query].results[1].data)==0  then %}
        "total":20,"rows":[]
    {% end %}




