{% layout = "layouts/rbaclayout.html" %}


{-title-}
<title>RBAC可视化-组织机构维护</title>
{-title-}

{-content-}


<div data-options="region:'west',split:true,title:'机构隶属用户',collapsed:true" style="width:46%;">

    <div style="margin:10px 0;"></div>
    <div id="tabs" class="easyui-tabs" style="width:100%;height:100%;">
    </div>


</div>



<div id="log" data-options="region:'south',title:'操作日志',collapsed:true" style="height:80px;">1</div>



<div data-options="region:'center',title:'当前标签所包含的机构'">

    <div id="detailTabtb" style="padding:5px;height:auto">

        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">数据变更</a>

    </div>



    <table id="detailTab" class="easyui-treegrid" style="width:700px;height:auto"
           data-options="
                idField:'id',
                treeField: 'name',
                url:urllist,

                toolbar: '#detailTabtb',
                onContextMenu: onContextMenu,

                animate: true,
                collapsible: true,
                rownumbers:true,
                checkbox:false,
                fitColumns:true,
                fit:true,
                pagination:false,

                //ctrlSelect:true,
                //autoSave:true,
                cascadeCheck:false,


                iconCls: 'icon-edit',
                singleSelect: true,
                onClickCell: onClickCell,
                onEndEdit: onEndEdit,
                onBeginEdit: onBeginEdit,
                onLoadSuccess: function(row){
				    $(this).treegrid('enableDnd', row?row.id:null);
			    },
			    onDrop:onDropOrg
               ">
        <thead>
        <tr>
            <th data-options="field:'name',width:250,
                editor:{type:'validatebox',
                    options:{required:true}}">机构名称</th>
            <th data-options="field:'id',width:80,
                editor:{type:'validatebox',
                    options:{required:true}}">UID编号</th>
            <th data-options="field:'createDate',width:250,
                editor:{type:'datetimebox',
                    options:{required:true}}">创建日期</th>

            <th data-options="field:'roles',width:250,
                formatter:function(value,row){return row.rolelist;},
                editor:{type:'combobox',
                    options:{url:rolelist, multiple:true,required:false,
                            valueField: 'role_id',
                            textField: 'name'}}
                    ">角色</th>
        </tr>
        </thead>
    </table>


    <div id="mm" class="easyui-menu" style="width:120px;">
        <div onclick="$('body').layout('expand','west');addIframeTab(orguserlist);" data-options="iconCls:'icon-list'">隶属用户</div>
        <div class="menu-sep"></div>
        <div onclick="append()" data-options="iconCls:'icon-add'">克隆</div>
        <div onclick="removeIt()" data-options="iconCls:'icon-remove'">删除</div>
        <div class="menu-sep"></div>
        <div onclick="collapse()">收起</div>
        <div onclick="expand()">展开</div>
    </div>

</div>


{-content-}



{-page_css-}

{-page_css-}


{-page_js-}
<script src="easyui/treegrid-dnd.js"  type="text/javascript"></script>
<script src="easyui/json2.js"  type="text/javascript"></script>


<script src="easyui/jquery.tabs.extend.js"  type="text/javascript"></script>


<script type="text/javascript">
    var url = "http://127.0.0.1/formroutenew?html=route-neo4j-tree&query=graphorgtree";
    var urllist = "http://127.0.0.1/formroutenew?html=route-neo4j-tree&query=graphorglist";

    var crudurlu = "http://127.0.0.1/formroutenew?html=route-neo4j-crud&query=graphorgu";
    var dndUrl = "http://127.0.0.1/formroutenew?html=route-neo4j-crud&query=graphorgdnd";
    var crudurlc = "http://127.0.0.1/formroutenew?html=route-neo4j-crud&query=graphorgc";
    var crudurld = "http://127.0.0.1/formroutenew?html=route-neo4j-crud&query=graphorgd";

    var rolelist = "http://127.0.0.1/formroutenew?html=route-neo4j-json&query=graphrolelist";



    var orguserlist = "http://127.0.0.1/formroutenew?html=rbac/user-list&query=graphuserlist&page=1&rows=8";

    var editingId;

    var editIndex = undefined;
    function endEditing() {
        if (editingId == undefined) {
            return true
        }
        if (editIndex == undefined) {
            return true
        }

        if ($('#detailTab').datagrid('validateRow', editIndex)) {
            console.log('endEditing' + editingId);
            $('#detailTab').datagrid('endEdit', editingId);
            $('#detailTab').datagrid('endEdit', editIndex);

            editingId = undefined;
            editIndex = undefined;

            return true;
        } else {
            return false;
        }
    }

    function onClickCell(index, field) {
        console.log(index);
        console.log(editIndex);
        console.log(field);

        //同一行并且同一单元格不做处理 editIndex != index &&
        if (editingId != field.id) {

            //结束其他行的编辑状态
            if (endEditing()) {
//
//                $('#detailTab').datagrid('selectRow', index)
//                        .datagrid('beginEdit', index);


                editingId = field.id;
                $('#detailTab').treegrid('beginEdit', editingId);


                console.log(editingId);
                console.log(index);

                var ed = $('#detailTab').treegrid('getEditor', {index: editingId, field: index});
                console.log(ed);

                if (ed) {
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                }

                editIndex = index;
            } else {
                setTimeout(function () {
                    $('#detailTab').datagrid('selectRow', editIndex);
                }, 0);
            }
        }
    }

    function onEndEdit(index, row) {
        //对于下拉框进行处理
//        var ed = $(this).datagrid('getEditor', {
//            index: index,
//            field: 'productid'
//        });
//        row.productname = $(ed.target).combobox('getText');

//        var edorg = $(this).datagrid('getEditor',{index:index,field:'org'});
//        row.orgname = $(edorg.target).combotree('getText');
//
        console.log('===========on end edit ');
        console.log(index);
        console.log(row);
//
        var edrole = $(this).treegrid('getEditor',{index:index.id,field:'roles'});
        console.log(edrole);
        console.log($(edrole.target).combotree('getText'));

        index.rolelist=  $(edrole.target).combotree('getText');

//        index.rolelist =

//        var ed = $('#detailTab').treegrid('getEditor', {index: editingId, field: index});
//        console.log(ed);
//
//        if (ed) {
//            ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
//        }
    }

    function onBeginEdit(index, row) {
//        var ed = $(this).datagrid('getEditor',{index:index,field:'org'});
//        $(ed.target).combotree({
//            url: orgtree,
//            value: row.org
//        });
    }


    function accept(ee) {

        console.log("机构编辑保存......" + JSON.stringify($('#detailTab').treegrid('showLines')));
        console.log("机构编辑保存......" + JSON.stringify($('#detailTab').treegrid('getData')));
        var ed = false;
        if (endEditing()) {
            ed = true;
        }
        if (ee) {
            ed = true;
        }

        if (ed) {
            var inserted = $('#detailTab').treegrid('getChanges', "inserted");
            var deleted = $('#detailTab').treegrid('getChanges', "deleted");
            var updated = $('#detailTab').treegrid('getChanges', "updated");

            var effectRow = new Object();
            if (inserted.length) {
                inserted.forEach(function (value) {
                    delete value.children;
//                    console.log(value);
                });
                effectRow["inserted"] = JSON.stringify(inserted);
            }

            if (deleted.length) {
                deleted.forEach(function (value) {
                    delete value.children;
//                    console.log(value);
                });
                effectRow["deleted"] = JSON.stringify(deleted);
            }
            if (updated.length) {
                updated.forEach(function (value) {
                    delete value.children;
//                    console.log(value);
                });
//                console.log(updated);
                effectRow["updated"] = JSON.stringify(updated);
            }

            console.log(Object.keys(effectRow).length);

            if (Object.keys(effectRow).length != 0) {
                console.log(effectRow["updated"] != undefined);
                console.log(effectRow["deleted"] != undefined);
                console.log(effectRow["inserted"] != undefined);
                console.log(effectRow["updated"]);
                console.log(effectRow["deleted"]);
                console.log(effectRow["inserted"]);

                if (effectRow["inserted"] != undefined) {
                    console.log("机构编辑 inserted......");

                    $.post(crudurlc, effectRow, function (response) {
                        console.log(response)
                        if (response.status) {
                            $("#detailTab").treegrid('acceptChanges');
                        }
                    }, "JSON");
                }
                if (effectRow["updated"] != undefined) {
                    $.post(crudurlu, effectRow, function (response) {
                        console.log(response)
                        if (response.status) {
                            $("#detailTab").treegrid('acceptChanges');
                        }
                    }, "JSON");
                }
                if (effectRow["deleted"] != undefined) {
                    console.log("机构编辑 deleted......");

                    $.post(crudurld, effectRow, function (response) {
                        console.log(response)
                        if (response.status) {
                            $("#detailTab").treegrid('acceptChanges');
                        }
                    }, "JSON");
                }
            }
        }
    }

    function reject() {
        if (editingId != undefined) {
            $('#detailTab').treegrid('cancelEdit', editingId);
        }
        $('#detailTab').treegrid('rejectChanges');
        editIndex = undefined;
        editingId = undefined;
    }

    function getChanges() {
        var rows = $('#detailTab').treegrid('getChanges');


        var inserted = $('#detailTab').treegrid('getChanges', "inserted");
        var deleted = $('#detailTab').treegrid('getChanges', "deleted");
        var updated = $('#detailTab').treegrid('getChanges', "updated");

        $.messager.alert('提示信息!', '新建：' + JSON.stringify(inserted) + '<br/>删除：' + JSON.stringify(deleted) + "<br/>更新:" + JSON.stringify(updated), 'info');


        console.log(inserted);
        console.log(deleted);
        console.log(updated);

    }

    function doSearch(value, searchkey) {
        console.log(searchkey, value);
        var detail = $('#detailTab');
        //alert('您查询的条件是: ' + value+'('+searchkey+')');
        detail.treegrid('load', {
            searchvalue: '.*' + value + '.*'
        });
    }

    function onContextMenu(e, row) {
        console.log(row);
        if (row) {
            e.preventDefault();
            $(this).treegrid('select', row.id);
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        }
    }
    function copy(obj) {
        // JSON解析之类的其实如果给定格式不对很容易出错滴，自己做好检验~
        return JSON.parse(JSON.stringify(obj));
    }


    function append() {

        console.log(endEditing)
//        if (endEditing()) {

//            $('#detailTab').treegrid('appendRow',{status:'P'});
//            editIndex = $('#detailTab').datagrid('getRows').length-1;
//            $('#detailTab').treegrid('selectRow', editIndex)
//                    .datagrid('beginEdit', editIndex);


        var nodeS = $('#detailTab').treegrid('getSelected');
        var parentid = nodeS.id;

        var node = copy(nodeS);

        delete node.children;
        delete node.isroot;
        delete node._parentId;

        node.id = node.id + new Date().getTime();
        node.group_id = node.id;

        node.pid = parentid;
        node.parent_id = node.pid;


        console.log(node);

        $('#detailTab').treegrid('append', {
            parent: parentid,
            data: [node]
        });


//
        //构造后台更新需要的数据格式
        var trees = new Array();
        trees[0] = node;
        var dnd = new Object();
        dnd["inserted"] = JSON.stringify(trees);

        $.post(crudurlc, dnd, function (response) {
            console.log(response);
            if (response.status) {
                $("#detailTab").treegrid('acceptChanges');
            }
        }, "JSON");

        editIndex = undefined;


    }

    function removeIt() {

        var node = $('#detailTab').treegrid('getSelected');
        if (node) {
            $('#detailTab').treegrid('remove', node.id);
        }

        //构造后台更新需要的数据格式
        var trees = new Array();
        trees[0] = node;
        var dnd = new Object();
        dnd["deleted"] = JSON.stringify(trees);
        $.post(crudurld, dnd, function (response) {
            console.log(response);
            if (response.status) {
                $("#detailTab").treegrid('acceptChanges');
            }
        }, "JSON");


        editIndex = undefined;


    }


    function collapse() {
        var node = $('#detailTab').treegrid('getSelected');
        if (node) {
            $('#detailTab').treegrid('collapse', node.id);
        }
    }
    function expand() {
        var node = $('#detailTab').treegrid('getSelected');
        if (node) {
            $('#detailTab').treegrid('expand', node.id);
        }
    }

    function onDropOrg(targetRow, sourceRow, point) {
//        editIndex = undefined;

        console.log(targetRow);
        console.log(sourceRow);
        console.log(point);
        //构造后台更新需要的数据格式
        var trees = new Array();


        trees[0] = sourceRow;
        var dnd = new Object();


        dnd["updated"] = JSON.stringify(trees);
        $.post(crudurlu, dnd, function (response) {
            console.log(response)
            if (response.status) {
                $("#detailTab").treegrid('acceptChanges');
            }
        }, "JSON");

        console.log(trees);
//        editIndex = undefined;
        $(this).treegrid('enableDnd');

    }

</script>


<script type="text/javascript">
    $(function(){
        //$('#tabs').tabs('addEventParam');
    });
    var count = 0;
    function addIframeTab(url){
        var nodeS = $('#detailTab').treegrid('getSelected');
        var title=nodeS.name;

        url = url + "&org="+nodeS.group_id;

        if ($('#tabs').tabs('exists', title)){
            $('#tabs').tabs('select', title);
        } else {
            $('#tabs').tabs('addIframeTab',{
                //tab参数为一对象，其属性同于原生add方法参数
                tab:{
                    title:title,
                    closable:true,
                    tools:[{
                        iconCls:'icon-mini-refresh',
                        handler:function(e){
                            var title = $(e.target).parent().parent().text();
                            $('#tabs').tabs('updateIframeTab',{'which':title});
                        }
                    }]
                },
                //iframe参数用于设置iframe信息，包含：
                //src[iframe地址],frameBorder[iframe边框,，默认值为0],delay[淡入淡出效果时间]
                //height[iframe高度，默认值为100%],width[iframe宽度，默认值为100%]
                iframe:{src:url}
            });
            $('#tabs').tabs('addEventParam');
        }


    }
</script>


{-page_js-}