{% layout = "layouts/mylayout.html" %}


{-sidebar-}

{-sidebar-}


{-content-}
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">门户左侧菜单编辑</li>
</ul>
<!-- END BREADCRUMB -->


<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

        <div id="treeDemo" class="ztree"></div>


<!-- END PAGE CONTENT WRAPPER -->
{-content-}



{-page_css-}
<link rel="stylesheet" href="portal/resources/css/demo.css" type="text/css">
<link rel="stylesheet" href="portal/resources/css/zTreeStyle/zTreeStyle.css" type="text/css">
{-page_css-}

{-page_js-}
<!--<script type="text/javascript" src="portal/resources/js/jquery-3.1.1.min.js"></script>-->

<script type="text/javascript" src="portal/resources/js/jquery.ztree.all.js"></script>
<!--  <script type="text/javascript" src="../resources/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../resources/js/jquery.ztree.excheck.js"></script>
  <script type="text/javascript" src="../resources/js/jquery.ztree.exedit.js"></script>-->
<SCRIPT type="text/javascript">
    <!--

    var setting = {

        edit: {
            enable: true,
            showRemoveBtn: false,
            showRenameBtn: false
        },
        data: {
            key: {
                url: "url"
            },
            simpleData: {
                enable: true,
                idKey: "module",
                pIdKey: "pid",
                rootPId: 0
            }
        },
        callback: {
            beforeDrag: beforeDrag
            ,beforeDrop: beforeDrop
            //,onClick: zTreeOnClick
        }
    };

    var zNodes ={*cjson.encode(formvalue[formvalue.params.query]._embedded.resource)*};
//            [
//        { id:1, pId:0, name:"随意拖拽 1", open:true},
//        { id:11, pId:1, name:"随意拖拽 1-1"},
//        { id:12, pId:1, name:"随意拖拽 1-2", open:true},
//        { id:121, pId:12, name:"随意拖拽 1-2-1"},
//        { id:122, pId:12, name:"随意拖拽 1-2-2"},
//        { id:123, pId:12, name:"随意拖拽 1-2-3"},
//        { id:13, pId:1, name:"禁止拖拽 1-3", open:true, drag:false},
//        { id:131, pId:13, name:"禁止拖拽 1-3-1", drag:false},
//        { id:132, pId:13, name:"禁止拖拽 1-3-2", drag:false},
//        { id:133, pId:13, name:"随意拖拽 1-3-3"},
//        { id:2, pId:0, name:"随意拖拽 2", open:true},
//        { id:21, pId:2, name:"随意拖拽 2-1"},
//        { id:22, pId:2, name:"禁止拖拽到我身上 2-2", open:true, drop:false},
//        { id:221, pId:22, name:"随意拖拽 2-2-1"},
//        { id:222, pId:22, name:"随意拖拽 2-2-2"},
//        { id:223, pId:22, name:"随意拖拽 2-2-3"},
//        { id:23, pId:2, name:"随意拖拽 2-3"}
//    ];

    function beforeDrag(treeId, treeNodes) {
        for (var i=0,l=treeNodes.length; i<l; i++) {
            if (treeNodes[i].drag === false) {
                return false;
            }
            //根节点不允许拖拽；
            if (treeNodes[i].pid === 0) {
                return false;
            }

        }
        return true;
    }
    function beforeDrop(treeId, treeNodes, targetNode, moveType) {

        console.log(targetNode);
        console.log(moveType);
        console.log(targetNode.pid === 0);
        //不允许拖拽到根节点
        if (targetNode.pid === 0 & moveType!='inner' ) {
            return false;
        }
        return targetNode ? targetNode.drop !== false : true;
    }

    //编辑状态不能点击链接跳转
    function zTreeOnClick(event, treeId, treeNode) {
        console.log(treeNode.name + ", " + treeNode.url);
    };


    function setCheck() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                isCopy = $("#copy").attr("checked"),
                isMove = $("#move").attr("checked"),
                prev = $("#prev").attr("checked"),
                inner = $("#inner").attr("checked"),
                next = $("#next").attr("checked");
        zTree.setting.edit.drag.isCopy = isCopy;
        zTree.setting.edit.drag.isMove = isMove;
        showCode(1, ['setting.edit.drag.isCopy = ' + isCopy, 'setting.edit.drag.isMove = ' + isMove]);

        zTree.setting.edit.drag.prev = prev;
        zTree.setting.edit.drag.inner = inner;
        zTree.setting.edit.drag.next = next;
        showCode(2, ['setting.edit.drag.prev = ' + prev, 'setting.edit.drag.inner = ' + inner, 'setting.edit.drag.next = ' + next]);
    }
    function showCode(id, str) {
        var code = $("#code" + id);
        code.empty();
        for (var i=0, l=str.length; i<l; i++) {
            code.append("<li>"+str[i]+"</li>");
        }
    }

    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
//        setCheck();
//        $("#copy").bind("change", setCheck);
//        $("#move").bind("change", setCheck);
//        $("#prev").bind("change", setCheck);
//        $("#inner").bind("change", setCheck);
//        $("#next").bind("change", setCheck);
    });
    //-->

</SCRIPT>
{-page_js-}

{-page_demo_js-}

{-page_demo_js-}